RewriteEngine On

# Allows stylesheets, images, docs, & zips to pass through touched.
RewriteRule \.(css|jpe?g|gif|png|docx?|pdf|zip)$ - [L]

##RESUME
#RewriteMap nameMap txt:lib\conf\mapfile.txt
#RewriteRule ^resume/(.*)/? ${nameMap:$1} [C]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^resume/(\d+)/?$ res-resume.php?u=$1 [L] #{nameMap:$1} [L]

##BROWSING
#RewriteRule ^browse/? res-browse.php [C]
RewriteRule ^browse/(\w+)/?$ res-browse.php?b=$1 [C]
RewriteRule ^browse/(\w+)/([0-9]+)?/?$ res-browse.php?b=year&$1 [L]
#RewriteRule ^(\w+)/([0-9]+)/?$ res-browse.php?b=$1&y=$2 [L]
#RewriteRule ^browse/(\w+)/?$ res-browse.php?b=$1 [L]

##TEMPLATE
#RewriteRule ^([^/\.]+)/?$ /master.php?page=$1 [L]
#RewriteRule ^([^/\.]+)/([^/\.]+)/?$ /master.php?section=$1&page=$2 [L]
#RewriteRule ^([^/\.]+)/([^/\.]+)/([^/\.]+)/?$ /master.php?section=$1&subsection=$2&page=$3 [L]

#RewriteCond %{REQUEST_URI} %{SERVER_NAME}ResumeBeta/search/?q=$
RewriteRule ^search/?$ res-search.php [C]
RewriteRule ^search/\?q=(\[A-Za-z0-9-]+)?/?$ res-search.php?q=$1 [L]


RewriteRule ^browse/gradyear/(\w+)/?$ res-browse.php?b=year&y=$1 [L]

RewriteCond %{HTTP_HOST} ^localhost [NC]
RewriteRule ^todo/?$ todo.php

#([^/]+)/([^/]+)

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-l
